@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Quicksand&display=swap');

:root{
    --paddingSm:18px;
    --paddingMd:calc(var(--paddingSm)*1.25);
    --paddingLg:calc(var(--paddingMd)*1.5);
    --paddingXs:calc(var(--paddingLg)*2);
    --colorDark:#281E24;
    --colorLight:#ffffff;
    --colorMblue:#4579B6;
    --colorDBlue:#93C7E8;
    --brighterPink:#D5B5CC;
    --browish:#C87353;
}
/* remove browser defaults */
*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
}

body{
    background-image: url(../images/bg_102.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--paddingMd);
    font-weight: 500;
    color:var(--colorLight);
   
    padding-top: 120px;

    
   }

h1, h2, h3, h4, h5, li{
    font-family: 'Catamaran', sans-serif;
   
   }
header a{
    text-decoration: none;
}
header{
    font-size: var(--paddingMd);
    padding:0 var(--paddingLg);
    height:100px;
    display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: #281E24;
 
   
}
#mainNav ul {
    list-style: none;
    display:flex;
    
}
#logo{
    display: flex;
    align-items: center;
    margin-right:auto
}
#mainNav ul li{
    padding:5px;
    margin-left: 10px;
}
ul a{
    color:var(--colorLight)
}
ul li a:hover{
    transform: scale(1.1);
    transition: 0.3;
    color:var(--browish);
}

#top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#intro-section{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top:120px;

   
}
#profilePic{
    margin-top: var(--paddingLg);
}
.mainHead{
    font-size: var(--paddingXs);
}
#intro-section button{
    width:200px;
    height:50px;
    margin: var(--paddingXs);
    font-size: var(--paddingMd);
    cursor: pointer;
    border-radius: 5px;
 

}

#intro-section a button {
    background-color: var(--colorDBlue);
    transition: background-color 0.3s ease-in-out;
  }
#intro-section a button:hover{
    background-color: var(--brighterPink);
}


/* section transitions */
/* section{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
section.show{
    opacity:1;
} */

footer{
    color:var(--browish);
    display: flex;
    justify-content: center;
    font-size:0.8rem;
}
#about-section {
    /* background-color: var(--colorLight); */
    /* color:#281E24; */
    padding: 20px;
    /* opacity: 0.8; */
   padding-top: 100px;
   margin-bottom: 35px;
  }
  
  #about-section h2 {
    font-size: var(--paddingLg);
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #about-section p {
    font-size: var(--paddingMd);
    line-height: 1.5;
    text-align: justify;
    
  }
  #about-section p:nth-of-type(odd) {
    background-color: var(--colorDark);
    color: var(--colorLight);
    padding: 10px;
    border-radius: 1px;
  }
  #about-section p:nth-of-type(even) {
    background-color: var(--colorDBlue);
    padding: 10px;
    border-radius: 5px;
  }
  /* Skills section CSS */
  #skills-section {
    background-color: var(--colorDBlue);
    color: var(--colorLight);
    padding: 20px;
    padding-top: 100px;
 
    }
    
    #skills-section h2 {
    font-size: var(--paddingLg);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    color:var(--colorDark);
    }
    
    .skill-group {
    margin-bottom: 20px;
    }
    
    .skill-group h3 {
    font-size: var(--paddingMd);
    font-weight: bold;
    margin-bottom: 10px;
    }
    
    .skill-group ul {
    list-style:none;
    text-indent: 10px;
    margin: 0;
    padding: 0;
    }
    
    .skill-group li {
    font-size: var(--paddingSm);
    line-height: 1.5;
    margin-bottom: 5px;
    color:var(--colorDark);
    }
   
    
    .skill-group li::before {
    content: "*";
    padding-right: 0.5em;
    color: var(--colorLight);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    }